---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for path in ["/", "/piattaforma/", "/soluzioni/", "/soluzioni/onboarding/", "/soluzioni/lending/", "/per-le-banche/", "/casi-d-uso/", "/scenari/banca-territorio/", "/case-study/", "/tinaba/", "/contatti/", "/privacy/", "/brand-guidelines/"] %}
  <url><loc>https://tinaba.it{{ path }}</loc></url>
{% endfor %}
</urlset>
